<div class="articles">
  <div class="title-header">
    <h1><%= @article.title.capitalize %></h1>
    <span><%= link_to icon('fas', 'pencil-alt'), edit_article_path %></span>
    <span><%= link_to icon('fas', 'trash-alt'), article_path(@article), method: :delete, data: { confirm: "Delete #{@article.title.capitalize}"} %></span>
  </div>
  <p><%= @article.content.tr('[]"', '') %></p>

  <br>

  <%= link_to "Homepage", articles_path %>
</div>
