<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1>Wikinimous</h1>
      <h2><%= link_to 'New Article', new_article_path %></h2>
    </nav>
    <%= yield %>
  </body>
</html>
